<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HugAtHome</title>
  <base href="/app">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script type="text/javascript" src="/assets/js/sails.io.js"   autoConnect="false"></script>
  <script type="text/javascript">
    io.sails.autoConnect = false;
    </script>
<link rel="stylesheet" href="styles.aec97435eefe8882d8b2.css"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="runtime.26209474bfa8dc87a77c.js"></script><script type="text/javascript" src="es2015-polyfills.c5dd28b362270c767b34.js" nomodule></script><script type="text/javascript" src="polyfills.26542259aafe625e5084.js"></script><script type="text/javascript" src="main.b87ada971d20edc104ca.js"></script></body>
</html>
